In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

import seaborn as sns

from sklearn import datasets
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

np.set_printoptions(precision=3)
pd.set_option('display.precision', 15)

sns.set()

In [2]:
df = pd.read_csv('counts.csv', index_col=None)
df

,id,count_point_id,direction_of_travel,year,count_date,hour,region_id,local_authority_id,road_name,road_category,...,buses_and_coaches,lgvs,hgvs_2_rigid_axle,hgvs_3_rigid_axle,hgvs_4_or_more_rigid_axle,hgvs_3_or_4_articulated_axle,hgvs_5_articulated_axle,hgvs_6_articulated_axle,all_hgvs,all_motor_vehicles
0,1,931537,S,2003,2003-05-14,15,8,79,C,MCU,...,6.0,34,1.0,0.0,0.0,0.0,0,0.0,1.0,513.0
1,2,931537,S,2003,2003-05-14,16,8,79,C,MCU,...,5.0,68,0.0,1.0,0.0,0.0,0,0.0,1.0,881.0
2,3,931537,S,2003,2003-05-14,17,8,79,C,MCU,...,6.0,81,0.0,0.0,0.0,0.0,0,0.0,0.0,1096.0
3,4,931537,S,2003,2003-05-14,18,8,79,C,MCU,...,1.0,54,1.0,0.0,0.0,0.0,0,0.0,1.0,780.0
4,5,931537,S,2003,2003-05-14,7,8,79,C,MCU,...,1.0,24,1.0,0.0,0.0,0.0,0,0.0,1.0,191.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4491835,4491836,931537,N,2003,2003-05-14,10,8,79,C,MCU,...,4.0,31,3.0,0.0,0.0,0.0,0,0.0,3.0,282.0
4491836,4491837,931537,N,2003,2003-05-14,11,8,79,C,MCU,...,4.0,25,3.0,0.0,0.0,0.0,0,0.0,3.0,292.0
4491837,4491838,931537,N,2003,2003-05-14,12,8,79,C,MCU,...,3.0,33,4.0,0.0,1.0,0.0,0,0.0,5.0,371.0
4491838,4491839,931537,S,2003,2003-05-14,13,8,79,C,MCU,...,3.0,31,2.0,0.0,0.0,0.0,0,0.0,2.0,419.0
4491839,4491840,931537,S,2003,2003-05-14,14,8,79,C,MCU,...,3.0,32,5.0,0.0,0.0,0.0,0,0.0,5.0,435.0

In [8]:
df[(df['direction_of_travel'] == 'J')].sort_values(['year'])

,id,count_point_id,direction_of_travel,year,count_date,hour,region_id,local_authority_id,road_name,road_category,...,buses_and_coaches,lgvs,hgvs_2_rigid_axle,hgvs_3_rigid_axle,hgvs_4_or_more_rigid_axle,hgvs_3_or_4_articulated_axle,hgvs_5_articulated_axle,hgvs_6_articulated_axle,all_hgvs,all_motor_vehicles
679451,679452,990266,J,2000,2000-05-25,18,4,23,C,MCU,...,0.0,3,2.0,0.0,0.0,0.0,0,0.0,2.0,21.0
603022,603023,961694,J,2000,2000-10-12,15,1,70,C,MCU,...,3.0,7,1.0,0.0,0.0,0.0,0,0.0,1.0,66.0
603021,603022,961694,J,2000,2000-10-12,14,1,70,C,MCU,...,0.0,16,2.0,0.0,0.0,0.0,0,0.0,2.0,72.0
603020,603021,961694,J,2000,2000-10-12,13,1,70,C,MCU,...,1.0,13,3.0,1.0,0.0,1.0,0,0.0,5.0,75.0
658869,658870,990265,J,2000,2000-05-05,16,4,23,C,MCU,...,6.0,6,1.0,0.0,0.0,0.0,0,0.0,1.0,61.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4100626,4100627,931661,J,2005,2005-07-04,18,2,99,C,MCU,...,0.0,9,1.0,0.0,0.0,0.0,0,0.0,1.0,109.0
4100625,4100626,931661,J,2005,2005-07-04,17,2,99,C,MCU,...,0.0,24,0.0,0.0,0.0,0.0,0,0.0,0.0,132.0
4100624,4100625,931661,J,2005,2005-07-04,16,2,99,C,MCU,...,1.0,25,10.0,0.0,0.0,0.0,0,0.0,10.0,140.0
4100622,4100623,931661,J,2005,2005-07-04,14,2,99,C,MCU,...,1.0,33,9.0,0.0,0.0,0.0,0,0.0,9.0,131.0
4002341,4002342,931622,J,2005,2005-06-28,8,1,139,C,MCU,...,3.0,19,4.0,1.0,0.0,0.0,0,0.0,5.0,120.0

In [53]:
df_years = df[(df.year == 2019) & (df.latitude > 50.3578) & (df.latitude < 50.4372) &  (df.longitude < -4.0830) &  (df.longitude > -4.2047)]
df_years[['count_point_id', 'latitude', 'longitude']].groupby(['count_point_id']).mean()

                          latitude  longitude
count_point_id
18061           50.395359000000006 -4.1116647
27910           50.387038999999994 -4.0897990
56224           50.374372999999999 -4.1108168
57823           50.410487000000010 -4.1827970
58281           50.402551999999993 -4.1437324
70077           50.376040000000010 -4.1956315
81374           50.393090000000001 -4.0918942
89282           50.404975000000000 -4.1342718
90148           50.411178999999997 -4.1304548
806483          50.388894000000001 -4.1730964
806748          50.400520000000000 -4.1500294
806784          50.428322000000001 -4.1577798
810441          50.411147999999997 -4.1604195
811983          50.403185000000001 -4.1894416
947292          50.421548000000001 -4.1403385
947293          50.422975999999998 -4.1034886
947294          50.405828000000007 -4.1230794
947296          50.389612999999997 -4.1803045
947303          50.396208000000001 -4.0955773
947306          50.403920999999997 -4.1270190
947308          50.402346999999999 -4.0943283
947310          50.424985999999997 -4.1358333
947311          50.360025000000000 -4.0970199
947314          50.370647999999996 -4.1593805
947317          50.395769000000001 -4.1753245
947327          50.414497000000004 -4.1043516
947331          50.410169000000003 -4.1588831
947340          50.379975000000002 -4.1516178
947341          50.389019999999995 -4.1238900
947343          50.383390999999996 -4.1297435

In [65]:
df_years[df_years.count_point_id==947306][['hour','all_motor_vehicles']].groupby(['hour']).sum()

      all_motor_vehicles
hour
7                  192.0
8                  497.0
9                  178.0
10                 126.0
11                 193.0
12                 211.0
13                 179.0
14                 241.0
15                 347.0
16                 258.0
17                 229.0
18                 129.0