In [37]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

import seaborn as sns

from sklearn import datasets
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

np.set_printoptions(precision=3)
pd.set_option('display.precision', 15)

sns.set()

In [19]:
df = pd.read_csv('counts.csv', index_col=None)
df

,id,count_point_id,direction_of_travel,year,count_date,hour,region_id,local_authority_id,road_name,road_category,...,buses_and_coaches,lgvs,hgvs_2_rigid_axle,hgvs_3_rigid_axle,hgvs_4_or_more_rigid_axle,hgvs_3_or_4_articulated_axle,hgvs_5_articulated_axle,hgvs_6_articulated_axle,all_hgvs,all_motor_vehicles
0,1,931537,S,2003,2003-05-14,15,8,79,C,MCU,...,6.0,34,1.0,0.0,0.0,0.0,0,0.0,1.0,513.0
1,2,931537,S,2003,2003-05-14,16,8,79,C,MCU,...,5.0,68,0.0,1.0,0.0,0.0,0,0.0,1.0,881.0
2,3,931537,S,2003,2003-05-14,17,8,79,C,MCU,...,6.0,81,0.0,0.0,0.0,0.0,0,0.0,0.0,1096.0
3,4,931537,S,2003,2003-05-14,18,8,79,C,MCU,...,1.0,54,1.0,0.0,0.0,0.0,0,0.0,1.0,780.0
4,5,931537,S,2003,2003-05-14,7,8,79,C,MCU,...,1.0,24,1.0,0.0,0.0,0.0,0,0.0,1.0,191.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4491835,4491836,931537,N,2003,2003-05-14,10,8,79,C,MCU,...,4.0,31,3.0,0.0,0.0,0.0,0,0.0,3.0,282.0
4491836,4491837,931537,N,2003,2003-05-14,11,8,79,C,MCU,...,4.0,25,3.0,0.0,0.0,0.0,0,0.0,3.0,292.0
4491837,4491838,931537,N,2003,2003-05-14,12,8,79,C,MCU,...,3.0,33,4.0,0.0,1.0,0.0,0,0.0,5.0,371.0
4491838,4491839,931537,S,2003,2003-05-14,13,8,79,C,MCU,...,3.0,31,2.0,0.0,0.0,0.0,0,0.0,2.0,419.0
4491839,4491840,931537,S,2003,2003-05-14,14,8,79,C,MCU,...,3.0,32,5.0,0.0,0.0,0.0,0,0.0,5.0,435.0

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4491840 entries, 0 to 4491839
Data columns (total 34 columns):
 #   Column                        Dtype
---  ------                        -----
 0   id                            int64
 1   count_point_id                int64
 2   direction_of_travel           object
 3   year                          int64
 4   count_date                    object
 5   hour                          int64
 6   region_id                     int64
 7   local_authority_id            int64
 8   road_name                     object
 9   road_category                 object
 10  road_type                     object
 11  start_junction_road_name      object
 12  end_junction_road_name        object
 13  easting                       int64
 14  northing                      int64
 15  latitude                      float64
 16  longitude                     float64
 17  link_length_km                float64
 18  link_length_miles             float64
 19  sequence                      float64
 20  ramp                          float64
 21  pedal_cycles                  int64
 22  two_wheeled_motor_vehicles    int64
 23  cars_and_taxis                float64
 24  buses_and_coaches             float64
 25  lgvs                          int64
 26  hgvs_2_rigid_axle             float64
 27  hgvs_3_rigid_axle             float64
 28  hgvs_4_or_more_rigid_axle     float64
 29  hgvs_3_or_4_articulated_axle  float64
 30  hgvs_5_articulated_axle       int64
 31  hgvs_6_articulated_axle       float64
 32  all_hgvs                      float64
 33  all_motor_vehicles            float64
dtypes: float64(15), int64(12), object(7)
memory usage: 1.1+ GB

In [53]:
df_years = df[(df.year == 2019) & (df.latitude > 50.3578) & (df.latitude < 50.4372) &  (df.longitude < -4.0830) &  (df.longitude > -4.2047)]
df_years[['count_point_id', 'latitude', 'longitude']].groupby(['count_point_id']).mean()

                          latitude  longitude
count_point_id
18061           50.395359000000006 -4.1116647
27910           50.387038999999994 -4.0897990
56224           50.374372999999999 -4.1108168
57823           50.410487000000010 -4.1827970
58281           50.402551999999993 -4.1437324
70077           50.376040000000010 -4.1956315
81374           50.393090000000001 -4.0918942
89282           50.404975000000000 -4.1342718
90148           50.411178999999997 -4.1304548
806483          50.388894000000001 -4.1730964
806748          50.400520000000000 -4.1500294
806784          50.428322000000001 -4.1577798
810441          50.411147999999997 -4.1604195
811983          50.403185000000001 -4.1894416
947292          50.421548000000001 -4.1403385
947293          50.422975999999998 -4.1034886
947294          50.405828000000007 -4.1230794
947296          50.389612999999997 -4.1803045
947303          50.396208000000001 -4.0955773
947306          50.403920999999997 -4.1270190
947308          50.402346999999999 -4.0943283
947310          50.424985999999997 -4.1358333
947311          50.360025000000000 -4.0970199
947314          50.370647999999996 -4.1593805
947317          50.395769000000001 -4.1753245
947327          50.414497000000004 -4.1043516
947331          50.410169000000003 -4.1588831
947340          50.379975000000002 -4.1516178
947341          50.389019999999995 -4.1238900
947343          50.383390999999996 -4.1297435

In [65]:
df_years[df_years.count_point_id==947306][['hour','all_motor_vehicles']].groupby(['hour']).sum()

      all_motor_vehicles
hour
7                  192.0
8                  497.0
9                  178.0
10                 126.0
11                 193.0
12                 211.0
13                 179.0
14                 241.0
15                 347.0
16                 258.0
17                 229.0
18                 129.0